.adminCookDisplay {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.adminCookDisplay th, .adminCookDisplay td {
  text-align: left;
  padding: 8px;
}

.adminCookDisplay th {
  background-color: #f2f2f2;
}

.adminCookDisplay tr:nth-child(even) {
  background-color: #f2f2f2;
}

.adminCookDisplay tr:hover {
  background-color: #ddd;
}

.accept-btn {
  background-color: #4CAF50; 
  border: none; 
  color: white;
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 10px 5px; 
  cursor: pointer; 
  border-radius: 5px; 
}



.decline-btn {
  background-color: #f44336; 
  border: none; 
  color: white; 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 10px 5px; 
  cursor: pointer; 
  border-radius: 5px; 
}


.close-btn {
  background-color: #5c5b5b; 
  border: none; 
  color: white; 
  padding: 5px 10px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 10px 5px; 
  cursor: pointer; 
  border-radius: 5px; 
}